# Supabase (Project Settings -> API)
NEXT_PUBLIC_SUPABASE_URL=https://yeuqhccglieulidrhphf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlldXFoY2NnbGlldWxpZHJocGhmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkyMjMwNzYsImV4cCI6MjEwNDc5OTA3Nn0.hUp0m7lgtEBxhrLFTn2u8FyUFtQI9a_Oi7IfbhhjOGE

# Нужен только для seed-скрипта (никогда не коммить и не класть в NEXT_PUBLIC_)
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlldXFoY2NnbGlldWxpZHJocGhmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTIyMzA3NiwiZXhwIjoyMTA0Nzk5MDc2fQ.DjUo7f4CEypjwMCpbjoIUrjsvftUr9rYUUZnhOXsEMY
